//ШРИФТ=====================================================================

$font-family: "Urbanist", sans-serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
// GOOGLE FONTS (&display=swap)=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&display=swap");
// /GOOGLE FONTS=====================================================================

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1170px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$yellow: #c99e71;
//VARIABLES=====================================================================
